server:
  port: 8080

logging:
  level:
    com.archi.hexagonal: debug

spring:
  application:
    name: hexagonal
  datasource:
    url: jdbc:postgresql://${DB_HOST}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

app:
  jwt-secret: my-super-secret-key-my-super-secret-key
  jwt-expiration-in-ms: 36000000
  jwt-refresh-expiration-ms: 604800000